<div class="container" style="margin-top: 7%" *ngIf="item">
  <div class="col-md-4 center sm">
    <div class="card card-body">
        <p class="h2 h2-responsive text-center">تعديل المنتج</p>
    </div>
  </div>
  <br><br>
  <form novalidate [formGroup]="productForm" #fform="ngForm" (ngSubmit)="onSubmit()" style=" margin-bottom: 2.5%;">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-6 col-12" style="margin-top: 1.5;">
          <h2 class="text-center">TÜRKÇE</h2>
            <div class="md-form">
              <i class="fa fa-envelope prefix"></i>
              <input mdbInputDirective formControlName="nameTR" [(ngModel)]="item.nameTR" type="text" class="form-control" required>
              <label>Adı TÜRKÇE'de</label>
            </div>
            <div class="md-form">
              <i class="fa fa-envelope prefix"></i>
              <input mdbInputDirective formControlName="descriptionTR" [(ngModel)]="item.descriptionTR" type="text" class="form-control" required>
              <label>Açıklama TÜRKÇE'de</label>
            </div>
        </div>
      <div class="col-md-12 col-lg-6 col-xl-6 col-12" style="margin-bottom: 1.5;">
        <h2 class="text-center">العربية</h2>
          <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective formControlName="nameAR" [(ngModel)]="item.nameAR" type="text" class="form-control" required>
            <label>الاسم في العربي</label>
          </div>
          <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective formControlName="descriptionAR" [(ngModel)]="item.descriptionAR" type="text" class="form-control" required>
            <label>الوصف في العربية</label>
          </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-2 col-xl-2 col-6 center" style="margin-top:10%">
      <button class="btn btn-success btn-block" style="font-size:20px" [disabled]="productForm.invalid" mdbWavesEffect type="submit">تعديل</button>
    </div>
  </form>
</div>


